kbd {
    display: inline-block;
}

@media (max-width: 576px) {
    img {
        width: 100%;
    }
    kbd {
        width: 100%;
        overflow-x: scroll;
    }
}

body {
  background: white !important;
}