html {
    height: 100%;
}
body {
    background:url("../images/binary2.gif");
    background-repeat: no-repeat;
    height:100%;
    background-size: 100% 100%;
}
.navbar-brand {
    font-family: Righteous;
}
nav {
    background: #00F260;  
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
    background: linear-gradient(to right, #0575E6, #00F260); 
}
#description {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size:20px;
    margin-bottom: 0;
}
#name {
    font-size:100px;
}
#body {
    text-align:center;
    color:white;
    font-family:Righteous;
    top:50%;
    left:50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:100%;
}
hr {
    color: white;
    background-color: white;
    text-align:center;
    margin-left:40%;
    width:20%;
    margin-top:5px;
    margin-bottom:5px;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */ 
  
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 